:root {
    --MainColor: rgb(123, 45, 210);
    --SubColor: rgb(230, 230, 230);

    --color1: rgb(34, 178, 255);
    --color2: rgb(201, 76, 42);
    --color3: rgb(145, 222, 90);
    --color4: rgb(18, 63, 124);
    --color5: rgb(240, 155, 17);
    --color6: rgb(99, 12, 167);
    --color7: rgb(255, 94, 147);
    --color8: rgb(72, 201, 176);
}

* {
    box-sizing: border-box;
}

button {
    all: unset;
    /* 모든 기본 스타일 초기화 */
    cursor: pointer;
    text-align: center;
}

input {
    -webkit-appearance: none;
    /* 크롬, 사파리 등 브라우저 기본 스타일 제거 */
    -moz-appearance: none;
    appearance: none;

    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 포커스 시 테두리 제거 */
    background-color: transparent;
    /* 배경 투명 */

    border-radius: 0;
    /* 둥근 모서리 제거 */
    box-shadow: none;
    /* 그림자 제거 */
    padding: 0;
    /* 패딩 초기화 */
    margin: 0;
    /* 마진 초기화 */
    font-family: inherit;
    /* 폰트 상속 */
}

table {
    border: 1px solid red;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* 살짝 어둡게 */

    /* 가운데 정렬 */
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;

    z-index: 999;
}

body {
    margin: 0;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    color: #333;
    background: #fafafa;
}

.pop {
    background-color: gray;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;

    background: #fff;
    padding: 20px;
    border: 2px solid var(--MainColor);
    border-radius: 6px;
    margin-bottom: 20px;

    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.2);
}

.top {
    padding: 15px;

    display: flex;
    justify-content: space-between;
}

.topBtn,
.popBtn {
    min-width: 60px;

    padding: 5px 10px;
    margin: 10px;

    background: #fff;
    color: var(--MainColor);
    border: 1px solid var(--MainColor);
    border-radius: 15px;
}

.popBtn {
    border-radius: 7px;
}

.topBtn:hover,
.popBtn:hover {
    background: var(--MainColor);
    color: #fff;
    cursor: pointer;
}

.mainBtn {
    padding: 5px 10px;
    margin: 10px;

    font-size: 15px;

    background: #fff;
    color: var(--MainColor);
    border: 2px solid var(--MainColor);
    border-radius: 15px;
}

.mainBtn:hover {
    background: var(--MainColor);
    color: #fff;
    cursor: pointer;
}

#messageBox {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.beforeLogin {
    /* width: 100%; */

    display: flex;
    /* display: none; */

    justify-content: flex-end;
}

.afterLogin {
    /* width: 100%; */

    display: none;
    /* display: flex; */

    justify-content: flex-end;
}

.user {
    width: 500px;
    height: 500px;

    display: none;
}

.input {
    margin: 0 auto;
}

.inputBtnDiv {
    display: flex;
    justify-content: center;
}

.message {
    text-align: center;
    font-size: 12px;
    color: red;

    margin: 7px;

    /* display: none; */
}

#join {
    /* display: block; */
}

#join-success {

    /* background-color: yellowgreen; */
    display: block;
}

#login-success {

    /* background-color: yellowgreen; */
    display: block;
}

#login {
    /* display: block; */
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 24px;
    font-weight: bold;
    color: var(--MainColor);
    margin-bottom: 15px;
    border-bottom: 2px solid var(--MainColor);
    padding-bottom: 8px;
}

.manual {
    width: 400px;
    height: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}