:root {
    --MainColor: rgb(123, 45, 210);
    --SubColor: rgb(230, 230, 230);

    --color1: rgb(34, 178, 255);
    --color2: rgb(201, 76, 42);
    --color3: rgb(145, 222, 90);
    --color4: rgb(18, 63, 124);
    --color5: rgb(240, 155, 17);
    --color6: rgb(99, 12, 167);
    --color7: rgb(255, 94, 147);
    --color8: rgb(72, 201, 176);
}

* {
    box-sizing: border-box;
}

button {
    all: unset;
    /* 모든 기본 스타일 초기화 */
    cursor: pointer;
    text-align: center;
}

input {
    -webkit-appearance: none;
    /* 크롬, 사파리 등 브라우저 기본 스타일 제거 */
    -moz-appearance: none;
    appearance: none;

    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 포커스 시 테두리 제거 */
    background-color: transparent;
    /* 배경 투명 */

    border-radius: 0;
    /* 둥근 모서리 제거 */
    box-shadow: none;
    /* 그림자 제거 */
    padding: 0;
    /* 패딩 초기화 */
    margin: 0;
    /* 마진 초기화 */
    font-family: inherit;
    /* 폰트 상속 */
}

body {
    margin: 0;
    font-family: 'Malgun Gothic', sans-serif;
    font-size: 14px;
    color: #333;
    background: #fafafa;
}

.message {
    text-align: center;
    font-size: 12px;
    color: red;

    margin-top: 10px;
}






/* ========== remote ========== */
a {
    text-decoration: none;
    /* 밑줄 제거 */
    color: inherit;
    /* 부모 요소의 색상 상속 */
    cursor: pointer;
    /* 마우스 포인터 설정 */
}

a:hover {
    text-decoration: none;
    /* 호버 시에도 밑줄 제거 (필요시) */
}


.gameItem {
    max-width: 120px;

    padding: 10px;
    text-align: center;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}






/* ========== top ========== */
.top {
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: rgba(255, 255, 255, 0.705);
}

.GNB {
    /* border: 1px solid red; */
    border-bottom: 3px solid var(--MainColor);


    padding: 10px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 100px;
}

.topBtn {
    min-width: 60px;

    padding: 5px 10px;
    margin: 10px;

    background: #fff;
    color: var(--MainColor);
    border: 1px solid var(--MainColor);
    border-radius: 15px;
}

.topBtn:hover,
.topBtn:focus {
    background: var(--MainColor);
    color: #fff;
    cursor: pointer;
}

.beforeLogin {
    display: flex;
    /* display: none; */

    justify-content: flex-end;
}

.afterLogin {
    display: none;
    /* display: flex; */

    justify-content: flex-end;
}




/* ========== LNB ========== */
.LNB {
    display: flex;
    justify-content: space-around;

    padding: 20px 10px;

    font-size: 15px;
    font-weight: 700;

    box-shadow: 0 1px 2px 0px var(--SubColor);
}

.LNB>div {
    cursor: pointer;
}

.LNB>div:hover,
.LNB>div:focus {
    text-decoration: underline;
    text-decoration-color: var(--SubColor);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

#LNBadminPage {
    display: none;
}


/* 게임 드롭다운 */

.gameMenu {
    position: relative;
}

/* hover 끊김 방지 브릿지 */
.gameMenu::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 10px;
}

.gameList {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translate(-50%, -10px);

    background: white;
    border: 1px solid var(--SubColor);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    min-width: 120px;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s;
}

.gameItem {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.gameItem:hover {
    background: var(--SubColor);
}

/* hover 시 게임 리스트 표시 */
.gameMenu:hover .gameList {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}



/* ========== main ========== */

.main {
    width: 50%;

    margin: 30px auto 0;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.main hr {
    margin: 10px 0;
}




/* ========== profile ========== */

.profile {
    display: flex;

    justify-content: center;
    align-items: center;
}

.image {
    /* border: 1px solid red; */

    width: 100px;
    height: 100px;

    border-radius: 50%;

    margin: 10px;

    background-image: url("https://img.freepik.com/premium-vector/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-vector-illustration_561158-3383.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nick {
    margin-left: 10px;
}

#nickTitle {
    font-size: 20px;
    font-weight: 700;
}

#nickEx {
    padding: 5px 10px;
    font-size: 12px;
}

#nickInput {
    /* border: 1px solid red; */
    background-color: var(--SubColor);
    border-radius: 5px;

    width: 210px;
    height: 35px;

    margin-top: 5px;
    padding: 5px;
    padding-left: 10px;

    font-size: 12px;
}

#nickBtn {
    margin-left: 10px;
    padding: 9px 12px;
    border-radius: 5px;

    font-size: 12px;
    /* font-weight: 500; */
    color: white;

    /* border: 2px solid var(--MainColor); */
    background-color: var(--MainColor);

    cursor: pointer;
}

#nickBtn:hover, #nickBtn:focus {
    filter: brightness(1.2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    transform: translateY(-1px);
}

#nickMessage {
    text-align: left;
    padding-left: 10px;
}




/* ========== info, manage ========== */
.info,
.manage {
    padding: 0 10px;
}

.content {
    padding: 10px 0;
}

.subTitle {
    font-size: 16px;
    font-weight: 700;
}

.explain {
    padding: 5px 10px;
}

.pwInfo {
    display: flex;

    justify-content: space-between;
}

.checkBtn {
    background-color: var(--SubColor);

    padding: 5px 10px;

    font-size: 12px;

    border-radius: 5px;
}

.checkBtn:hover {
    filter: brightness(1.2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    transform: translateY(-1px);
}

.delete {
    display: flex;
    justify-content: space-between;
}




/* ========== posts ========== */
.posts {
    padding: 10px;

    margin-bottom: 30px;
}

#postsTable {
    width: 100%;
    table-layout: fixed;

    text-align: center;
}

#postsTable th {
    border-bottom: 1px solid lightgray;

    padding-bottom: 5px;
}

#postsTable td {
    padding: 5px;
}

.postsTitle {
    width: 60%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#postsTableTbody {
    cursor: pointer;
}




/* ========== overlay, pop ========== */

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    display: none;
    /* display: flex; */

    z-index: 9;
}

.pwChange {
    border: 3px solid var(--MainColor);
    background-color: white;

    width: 500px;
    height: 400px;

    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pcTitle,
#daTitle {
    font-size: 20px;
    font-weight: 1000;

    color: var(--color6);

    margin-bottom: 20px;
}

.tableExplain {
    font-size: 10px;
    color: var(--color6);
}

.tableExplain td {
    height: 12px;

    padding-top: 10px;
    padding-left: 5px;
}

.input-td {
    display: flex;
    align-items: center;

    border: 2px solid #ddd;

    padding-left: 10px;
    padding-right: 10px;

    width: 350px;
    height: 40px;
}

.input-td svg {
    margin: 0 10px 0;
}

.input-td input {
    margin-left: 10px;
    width: 282px;
}


.pcBtn {
    margin-top: 15px;
}

.changeBtn {
    margin-left: 10px;
    padding: 9px 12px;
    border-radius: 5px;

    font-size: 12px;
    /* font-weight: 500; */
    color: white;

    /* border: 2px solid var(--MainColor); */
    background-color: var(--MainColor);

    cursor: pointer;
}

.changeBtn:hover, .changeBtn:focus {
    filter: brightness(1.2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    transform: translateY(-1px);
}

.closeBtn {
    background-color: var(--SubColor);

    padding: 9px 12px;

    font-size: 12px;

    border-radius: 5px;
}

.closeBtn:hover, .closeBtn:focus {
    filter: brightness(1.2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    transform: translateY(-1px);
}



.delAccount {
    border: 3px solid var(--MainColor);
    background-color: white;

    width: 400px;
    height: 230px;

    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#daEx {
    text-align: center;

    margin: 0 0 20px;
}




/* ================================== */

/* ========== media ========== */

@media screen and (max-width: 800px) {

    .main {
        width: 80%;
    }

    .title {
        font-size: 20px;
    }

    /* ========== top ========== */

    .GNB {
        padding: 5px 10px;

        width: 100%;
    }

    #logo {
        width: 70px;
    }

    .topBtn {
        font-size: 10px;

        width: 20px;

        margin: 5px;
    }


    .LNB {
        padding: 10px 10px;
    }

    .LNBbtn {
        font-size: 12px;
    }

    


    .games-btnWrap {
        position: absolute;
        top: 92%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;

        display: flex;
        justify-content: space-between;

        padding: 0 10px;
        z-index: 10;
    }

    .gameMenu:hover .gameList {
        transform: translate(-50%, 0px);

        left: 0;
    }


    /* ======== 계정 ======== */
    .profile {
        flex-direction: column;
    }

    .image {
        width: 70px;
        height: 70px;
    }

    #nickInput {
        width: 190px;
    }

    #nickEx {
        /* padding: 5px; */
        font-size: 10px;

        /* text-align: center; */
    }

    .pwChange {
        width: 90%;
    }

    .pw-input {
        width: 90%;
    }

    .pw-input tbody {
        width: 100%;
    }

    .pw-input tr td {
        width: 90%;
        margin: 0 auto;
    }

    .input-td {
        width: 90%;
        padding: 0 5px;
    }

    .input-td input {
        width: 242px;
    }

    .tableExplain td {
        text-align: center;
    }


    /* ======== 계정 ======== */
    .delAccount {
        width: 90%;
    }

}