#character {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    position: absolute;
    z-index: 99;
    top: 0%;
    left: 0%;
}

#game-container { 
    position : relative;
    width: 800px;
    height: 600px;
    background-color: rgb(34, 178, 255);
    overflow: hidden;
    border: 2px solid #333;
    margin: 0 auto;
}

#goal {
    width: 100px;
    height: 100px;

    position: absolute;
    right:10%;
    bottom: 10%; 

    display: none;
}

.mainColor {
    background-color: rgb(123, 45, 210);
}

.subColor {
    background-color: rgb(8, 198, 156);
}